apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-produto
  labels:
    app: produto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: produto
  template:
    metadata:
      labels:
        app: produto
    spec:
      containers:
        - name: produto
          image: 802133467671.dkr.ecr.us-east-1.amazonaws.com/fiap-fast-food-ms-product:1.0
          imagePullPolicy: Always
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: secret-produto
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret-produto
                  key: DB_PASSWORD
          envFrom:
            - configMapRef:
                name: cm-produto
          ports:
            - containerPort: 8080